name: "Close PR"

on:
  pull_request_target:
    types: [closed]

jobs:
  clear_styleguide:
    concurrency: ci-gh-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
      - name: Remove styleguide
        run: rm -rf pull/${{ github.event.pull_request.number }}
      - name: Unpublish styleguide
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Remove PR ${{ github.event.pull_request.number }}"
          branch: gh-pages

  patch:
    concurrency: ci-stable
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'patch')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Define stable branch name
        id: stable_branch_name
        run: echo "::set-output name=value::$(node ./.github/gitflow/get_stable_branch.js)"

      - name: Cherry pick into stable branch
        uses: carloscastrojumo/github-cherry-pick-action@v1.0.1
        with:
          branch: ${{ steps.stable_branch_name.value }}
          labels: |
            cherry-pick
